body {
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 5px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    /*background: #563f7a;*/
    background: #00B2EA;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background: #7758A8;*/
    background: #00B2EA;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #9F78DD;*/
    display: block;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    /*background: #674C92;*/
    background: #000080;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #674C92;*/
    background: #000080;
}

ul.additional {
    padding: 20px;
}

ul.additional a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.settings,
a.settings:hover {
    background: #000080 !important;
    /*background: #5c4387 !important;*/
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.header-top i {
    font-size: 18px;
}

.login-header {
    display: inline-block;
    width: 100%;
    /*background: #563f7a;*/
    background: #00B2EA;
}

.login-signup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.login-logo img {
    cursor: pointer;
    max-width: 171px;
    padding: 23px 15px 22px;
    width: 100%;
}

.login-header .navbar-right {
    margin-right: 0px;
}

.login-header .nav-tabs>li.active>a,
.login-header .nav-tabs>li.active>a:focus,
.login-header .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}

.login-header .nav-tabs>li>a {
    border: medium none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 15px 30px;
    color: #fff;
}

.login-header .nav-tabs {
    border-bottom: none;
}

.login-header .nav-tabs>li {
    margin-bottom: 0px;
}

.login-header .nav>li>a:focus,
.login-header .nav>li>a:hover {
    background: none;
    text-decoration: none;
}

.login-header .nav-tabs>li.active {
    border-bottom: 6px solid #5584ff;
}

.login-inner h1 {
    color: #8492af;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-inner h1 span {
    color: #5584ff;
}

.login-form {
    text-align: center;
}

.login-form input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #d4d9e3;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    color: #8492af;
    padding: 15px 50px;
    font-size: 17px;
    max-width: 550px;
}

.navi i {
    font-size: 20px;
}

.close,
.close:focus,
.close:hover {
    opacity: 1;
    text-shadow: none;
}

.modal-header.login-header h4 {
    color: #ffffff;
}

.modal-footer .add-project {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}

.modal-footer .add-project::before {
    display: none;
}

.modal-footer {
    border: 0 none;
    padding: 10px 15px 26px;
    text-align: right;
}

.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 300px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
}


/* .cancel {
    background: #0E1A35;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
} */

.modal-header .close {
    margin-top: 2px;
}

.modelContainer {
    outline: 1px solid #aaa;
    width: 350px;
    height: 130px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.modelContainer button {
    float: right;
    margin: 10px;
}

.renderjson {
    font-size: 80%;
}

.renderjson a {
    text-decoration: none;
}

.renderjson .disclosure {
    color: crimson;
    font-size: 120%;
}

.renderjson .syntax {
    color: grey;
}

.renderjson .string {
    color: #558b2f;
}

.renderjson .number {
    color: red;
}

.renderjson .boolean {
    color: purple;
}

.renderjson .key {
    color: #0451a5;
}

.renderjson .keyword {
    color: #af00db;
}

.renderjson .object.syntax {
    color: teal;
}

.renderjson .array.syntax {
    color: #252525;
}

div.table {
    display: table;
}

div.table .file-row {
    display: table-row;
}

div.table .file-row>div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}

div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}


/* The total progress gets shown by event listeners */

#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}


/* Hide the progress bar when finished */

#previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}


/* Hide the delete button initially */

#previews .file-row .delete {
    display: none;
}


/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
    display: none;
}

#previews .file-row.dz-success .delete {
    display: block;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.0rem;
    /* 20px */
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.0rem;
    /* 10px 20px */
    color: #f1e5e6;
    background-color: #30a54a;
}

.inputfile:focus+label,
.inputfile.has-focus+label,
.inputfile+label:hover {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: #28873c;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.layer-item {
    padding: .4rem 1.25rem !important;
    font-size: 90%;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    overflow: hidden;
    white-space: nowrap;
    /* Don't forget this one */
    text-overflow: ellipsis;
}

.layer-title {
    /*background-color: #1063b6*/
    /*background-color: #6b4e9e;*/
    background-color: #000080;
}

.layer-item-btn {
    padding: .25rem .5rem !important;
}

.tooltip-inner {
    min-width: 400px;
}

